Flask
gunicorn
python-dotenv

pypdf

langchain
langchain-community
langchain-core
langchain-google-genai
langsmith

google-generativeai

pydantic
pydantic-settings
dataclasses-json

qdrant-client
SQLAlchemy
