.navbar-nav .nav-link {
  color: white !important;           /* Asegura texto blanco */
  transition: background-color 0.3s ease;
  padding: 0.5rem 1rem;
  border-radius: 0.375rem;           /* Esquinas redondeadas como Bootstrap */
}

.navbar-nav .nav-link:hover {
  background-color: rgba(255, 255, 255, 0.15); /* Oscurecimiento suave */
}

.navbar-text {
  color: white;                      /* Asegura color blanco en el texto lateral */
}

#slidebar {
  height: 100vh;
  overflow-y: scroll;
  scrollbar-width: none; /* Firefox */
}
#slidebar::-webkit-scrollbar {
  display: none; /* Chrome y Edge */
}